<a href="https://colab.research.google.com/github/ayarzuki/Orbit-Futur-Academy/blob/main/Data_Structure_Lanjutan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LIST**

---

In [ ]:
drink_list = ['milk', 'coffee', "teh", "stmj"]
#tgl = [25, 7, 17, 4]
print(type(drink_list), "\n")

print("Fungsi len\t ->", len(drink_list)) #len() method menghitung list
print("Fungsi sorted\t ->", sorted(drink_list)) #sorted() method mengurutkan list
print("Pilih index\t ->", drink_list[1]) #milih index

<class 'list'>

Fungsi len	 -> 4
Fungsi sorted	 -> ['coffee', 'milk', 'stmj', 'teh']
Pilih index	 -> coffee

# **TUPLE**

---

In [21]:
tupple = (5,'program', 1000, True, "python")
print(tupple)

(5, 'program', 1000, True, 'python')

In [28]:
# # Pada tuple kita tidak dapat melakukan perubahan pada elemen
tupple[1]=10

TypeError: ignored

In [34]:
# Cobain kalau kita nge-ubah elemen di List
coba_list = [5,'program', 1000, True, "python"]
print(coba_list)

[5, 'program', 1000, True, 'python']

In [35]:
# [Lanjutan] Cobain nge-ubah elemen kalau di List
coba_list[1]=10
print(coba_list)

[5, 10, 1000, True, 'python']

In [33]:
# Contoh Tupple Lagi
drink_list = ('milk', 'coffee', "teh", "stmj")
single_tuple = ('susu',) #tuple dengan satu value diakhiri dengan koma
list_minuman = 'milk', 'coffee', "teh", "stmj" #dapat tanpa tanda kurung

print(type(drink_list), "\n")

print(drink_list)
#drink_list[0] = "Test"
print(drink_list)

<class 'tuple'>

('milk', 'coffee', 'teh', 'stmj')
('milk', 'coffee', 'teh', 'stmj')

# **SET**

---

In [17]:
set = {"apple", "banana", "cherry", "apple", "banana", "apple"}

print(set)

{'apple', 'banana', 'cherry'}

In [46]:
## Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.
print(set[2])

TypeError: ignored

In [48]:
set["apple"] = "mellon"
print(set)

TypeError: ignored

In [40]:
my_set = {1, 2, 3, 4}
my_set_2 = {3, 4, 5, 6}

print(type(my_set), ' - ', type(my_set_2), "\n")

<class 'set'>  -  <class 'set'>

In [42]:
coba_union_set = my_set.union(my_set_2)

print(coba_union_set)

{1, 2, 3, 4, 5, 6}

In [43]:
coba_intersection_set = my_set.intersection(my_set_2)

print(coba_intersection_set)

{3, 4}

In [ ]:
print(type(single_tuple))

set_single_tuple = set(single_tuple)
print(type(set_single_tuple))

<class 'tuple'>
<class 'set'>

# **DICTIONARY**

---

In [18]:
dictionary =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dictionary)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
student = {
    'name': 'Muhammad Rifki Muchtar',
    'age': 21,
    'awesome': True,
    'language': ['JS', 'Python', 'C'],
    'favorites': {
        'food': 'Indomie',
        'sport': 'Swimming'
    }
}
#print(sorted(student.items())) #-> fungsi mengurutkan key dict
print(type(student), "\n")

name = student.get('name')
print(name)

hobby = student.get('favorites')['sport']
print(hobby)

address = student.get('address')
print(address)

#dengan menggunakan .get dan key tidak ditemukan akan mengembalikan "none"
#jika menggunakan fungsi di bawah maka akan error

#address = student['address'] 
#print(address)

<class 'dict'>

Muhammad Rifki Muchtar
Swimming
None

Konversi Tuple ke Set

# **Pengondisian**

---
Bentuk umum if, elif, dan else

```
if(Condition1):
      Indented statement block for Condition1
elif(Condition2):
       Indented statement block for Condition2
else:
       Alternate statement block if all condition check above fails
```

Algoritma tahun kabisat: 

1.   Jika angka tahun itu habis dibagi 400, maka tahun itu sudah pasti tahun kabisat.
2.   Jika angka tahun itu tidak habis dibagi 400 tetapi habis dibagi 100, maka tahun itu sudah pasti bukan merupakan tahun kabisat.
3.   Jika angka tahun itu tidak habis dibagi 400, tidak habis dibagi 100 akan tetapi habis dibagi 4, maka tahun itu merupakan tahun kabisat.
4.   Jika angka tahun tidak habis dibagi 400, tidak habis dibagi 100, dan tidak habis dibagi 4, maka tahun tersebut bukan merupakan tahun kabisat.

In [49]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [50]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b